/**
 * Form
 * 1. The subtracted pixels correspond to the border width.
 */

input[type=text],
input[type=password] {
    @include text-rhythm($type-size-body);

    padding: $dimension-spacing-half - 2px; /* [ 1 ] */
}

input[type=submit] {
    @include text-rhythm($type-size-body);
}

input[type=radio] + label,
input[type=checkbox] + label {
    line-height: 1;
    margin-right: $dimension-spacing-half;
    vertical-align: middle;
}

label {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
