/**
 * Site
 */

html {
    height: 100%;
}

body {
    @include text-rhythm($type-size-body);

    background-color: $color-body-background;
    color: $color-body-color;
    font-family: $type-face-body;
    height: 100%;
    margin: 0;
    text-rendering: optimizeLegibility;
}
