/**
 * Button
 */

.button--primary {
    @extend %button;

    background-color: $color-button-primary-background;
    color: $color-button-primary-color;

    &:hover {
        background-color: $color-button-primary-background-hover;
    }
}

.button--secondary {
    @extend %button;

    background-color: $color-button-secondary-background;
    color: $color-button-secondary-color;

    &:hover {
        background-color: $color-button-secondary-background-hover;
    }
}
