/**
 * Columns
 */

.col {
    display: inline-block;
    padding-left: $dimension-column-gutter;
    padding-right: $dimension-column-gutter;
    vertical-align: top;
}

@include columns();

@if $responsive-enabled == true {
    @each $breakpoint in $responsive-breakpoints {
        @media #{nth($breakpoint, 2)} {
            @include columns($suffix: '-#{nth($breakpoint, 1)}');
        }
    }
}
