/**
 * Content Wrapper
 */

.content-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: $dimension-site-width;
    padding-left: $dimension-spacing-full;
    padding-right: $dimension-spacing-full;
}
