/**
 * Grid
 */

.grid {
    @extend %list-reset;

    margin-left: $dimension-column-gutter * -1;
    margin-right: $dimension-column-gutter * -1;
}

.grid--center {
    text-align: center;
}

    .grid__item {
        display: inline-block;
        padding-left: $dimension-column-gutter;
        padding-right: $dimension-column-gutter;
        text-align: left;
    }
