/**
 * Site Nav
 */

.site-nav {
    float: right;
    margin-bottom: 0;
}

    .site-nav__list {
        @extend %list-inline;

    }

    .site-nav__link {
        @include text-rhythm(10px);

        background-color: $color-site-nav-link-background;
        border: 1px solid $color-site-nav-border-color;
        color: $color-site-nav-link-color;
        display: block;
        font-weight: bold;
        margin-left: -1px;
        padding: ($dimension-spacing-full - 1) $dimension-spacing-full;
        text-transform: uppercase;
        transition: 0.15s ease all;

        &:hover {
            border-bottom: 5px solid $color-site-nav-border-color-hover;
            padding-bottom: 19px;
        }
    }


