/**
 * Columns
 * Generates percentage columns based on the parameters given.
 *
 * $columns {int}    - Number of columns
 * $prefix  {string} - CSS class name prefix for the column classes.
 * $suffix  {string} - CSS class name suffix for the column classes.
 */

@mixin columns($columns: 12, $prefix: '', $suffix: '') {
    .#{$prefix}col#{$suffix}--hide {
        display: none;
    }

    @for $i from 1 through $columns {
        .#{$prefix}col#{$suffix}--#{$i}-#{$columns} {
            width: (100% / $columns * $i);
        }
    }
}
