/**
 * Text Rhythm
 * Generates the line-height based on your base font size and base line height
 * to ensure a perfect vertical rhythm.
 *
 * $font-size-target {string} - The target font size
 * $font-size-base   {string} - The base font size of your application
 * $line-height-base {string} - The base line height of your application
 */

@mixin text-rhythm($font-size-target, $font-size-base: 16px, $line-height-base: 24px) {
    font-size: $font-size-target;
    line-height: ceil($font-size-target / $line-height-base) * ($line-height-base / $font-size-target);
}
