/**
 * Color
 *
 * Shades
 * -lighter: mix(white, $color, 80%);
 * -light:   mix(white, $color, 20%);
 * -dark:    mix(#555,  $color, 20%);
 * -darker:  mix(black, $color, 20%);
 */

// Presentational
$color-white: #fff;

$color-blue: #009ddc;

$color-green: #aad258;

$color-grey-light:  #f0f0f0;
$color-grey-dark:   #e6e6e6;
$color-grey-darker: #666;


// Functional
$color-body-background:                   $color-grey-light;
$color-body-color:                        $color-grey-darker;


$color-link-border-bottom:                $color-blue;


$color-site-header-background:            $color-grey-light;
$color-site-header-color:                 $color-white;


$color-site-logo-color:                   $color-blue;


$color-site-nav-border-color:             $color-grey-dark;
$color-site-nav-border-color-hover:       $color-blue;

$color-site-nav-link-color:               $color-grey-darker;
$color-site-nav-link-background:          $color-white;


$color-button-primary-background:         $color-grey-dark;
$color-button-primary-background-hover:   $color-grey-darker;
$color-button-primary-color:              $color-grey-light;

$color-button-secondary-background:       $color-grey-dark;
$color-button-secondary-background-hover: $color-grey-darker;
$color-button-secondary-color:            $color-grey-light;


$color-widget-background:                 $color-grey-light;
