/**
 * Dimension
 */

// Generic
$dimension-spacing-value:  24px;

$dimension-spacing-full:   $dimension-spacing-value;
$dimension-spacing-half:   $dimension-spacing-full / 2;
$dimension-spacing-double: $dimension-spacing-full * 2;

$dimension-site-width:     1080px;


// Grid
$dimension-column-gutter:  $dimension-spacing-half;
