/**
 * Type
 */

// Sizes
$type-size-body:    16px;

$type-size-h1:      48px;
$type-size-h2:      36px;
$type-size-h3:      28px;
$type-size-h4:      24px;
$type-size-h5:      18px;
$type-size-h6:      16px;

$type-line-height:  $dimension-spacing-value;


// Presentational
$type-face-heading: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
$type-face-body:    'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
$type-face-code:    Menlo, Consolas, monospace;
